body {
    margin-top: 0;
    font-family: 'Montserrat', sans-serif;
}

#MapPicker {
    width: 100%;
    height: 400px;
}

@media screen and (max-width: 770px) {
    #MapPicker {
        height: 200px;
    }
}


.titlebar {
    background: #449BC2;
    margin: 0;
    border-bottom: 0;
}

.page-header {
    border-bottom: 0;
}
.menubar {
    padding: 7px;
    color: #F2F0F2;
    background: #0C4F8A;
}

.accent-offwhite {
    color: #F2F0F2;
}

.accent-coolgrey {
    color: #6B738A;
}

.accent-beige {
    color: #EED8C6;
}
.accent-blackish {
    color: #1A1A1A;
}